<!-- achievements.ejs -->

<section class="achievements" id="achievements">

    <div class="achievements-box">

        <h1>Achievements</h1>

        <div class="achievements-content">

            <ul>
                <li>Department Rank 1 in Chemical Engineering</li>

                <li>Secured 97% in Class X (CBSE)</li>

                <li>Secured 93% in Class XII (RBSE)</li>

                <li>Qualified JEE Mains and JEE Advanced</li>

                <li>
                    Strong academic performance in programming 
                    and machine learning coursework
                </li>
            </ul>

        </div>

    </div>

</section>
