<!-- contact.ejs -->

<section class="contact" id="coding-profiles">

    <div class="contact-box">

        <h1>Coding Profiles</h1>

        <div class="contact-content">

            <p>
                <strong>GitHub:</strong>

                <a href="https://github.com/agrawalpoorti" target="_blank">
                    agrawalpoorti
                </a>
            </p>

            <p>
                <strong>LinkedIn:</strong>

                <a 
                    href="https://www.linkedin.com/in/poorti-agrawal-674552326/" 
                    target="_blank"
                >
                    Poorti Agrawal
                </a>
            </p>

            <p>
                <strong>LeetCode:</strong>

                <a 
                    href="https://leetcode.com/u/Poorti_Agrawal0710/" 
                    target="_blank"
                >
                    Poorti_Agrawal0710
                </a>
            </p>

            <p>
                <strong>Resume:</strong>

                <a href="#">
                    Resume PDF
                </a>
            </p>

        </div>

    </div>

</section>
