<!-- connect.ejs -->

<section class="connect" id="connect">

    <div class="connect-box">

        <h1>Let’s Connect</h1>

        <p>
            I’m always open to learning, collaborating, and exploring 
            new opportunities in technology and problem solving.
        </p>

        <div class="connect-links">

            <ul>

                <li>
                    Email →
                    <a href="mailto:agrawalpoorti1@gmail.com">
                        agrawalpoorti1@gmail.com
                    </a>
                </li>

                <li>
                    LinkedIn →
                    <a 
                        href="https://www.linkedin.com/in/poorti-agrawal-674552326/" 
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Poorti Agrawal
                    </a>
                </li>

                <li>
                    GitHub →
                    <a 
                        href="https://github.com/agrawalpoorti" 
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        agrawalpoorti
                    </a>
                </li>

                <li>
                    LeetCode →
                    <a 
                        href="https://leetcode.com/u/Poorti_Agrawal0710/" 
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Poorti_Agrawal0710
                    </a>
                </li>

            </ul>

        </div>

    </div>

</section>
