<!-- coursework.ejs -->

<section class="coursework" id="coursework">

    <div class="coursework-box">

        <h1>Relevant Coursework</h1>

        <div class="coursework-content">

            <ul>
                <li>Introduction to Computer Science (C Programming) — Grade: A</li>

                <li>Data Structures & Algorithms — Grade: A-</li>

                <li>Introduction to Machine Learning — Grade: A</li>

                <li>Probability, Statistics & Stochastic Processes — Grade: A-</li>

                <li>Signals and Systems — Grade: A</li>
            </ul>

        </div>

    </div>

</section>
