<!-- education.ejs -->

<section class="education" id="education">

    <div class="education-box">

        <h1>Education</h1>

        <div class="education-content">

            <div class="edu-card">
                <h2>B.Tech in Chemical Engineering (3rd Year)</h2>
                <p>  Indian Institute of Technology Jodhpur <br>
    CGPA: 8.75/10</p>
            </div>

            <div class="edu-card">
                <h2>Class XII</h2>
                <p>DS Science Academy, GGC</p>
            </div>

            <div class="edu-card">
                <h2>Class X</h2>
                <p>Swami Vivekanand Government Model School,GGC</p>
            </div>

        </div>

    </div>

</section>
