<!-- hero.ejs -->

<section class="hero" id="hero">

    <div class="hero-left">
        <img src="/images/portfolio-image.jpeg" alt="Profile Image">
    </div>

    <div class="hero-right">
        <h1>Hi, I'm Poorti Agrawal</h1>
        <p>
            Third-year Chemical Engineering student at IIT Jodhpur 
            with an interest in technology and software development.
        </p>
    </div>

</section>
