<!-- navbar.ejs -->

<nav class="navbar">

    <div class="logo">
        <h1>Poorti Agrawal</h1>
    </div>

    <div class="nav-links">

        <a href="#hero">Intro</a>

        <a href="#education">Education</a>

        <a href="#coursework">Coursework</a>

        <a href="#achievements">Achievements</a>

        <a href="#skills">Skills</a>

        <a href="#projects">Projects</a>

        <a href="#coding-profiles">Coding Profiles</a>

        <a href="#experience">Experience</a>

        <a href="#connect">Contact</a>

    </div>

</nav>
